{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<!-- Breadcrumbs -->
<section class="breadcrumbs__content" style="background-image: url('{% static 'img/bread-overlay.jpg' %}');">
    <!-- <div class="homec-overlay"></div> -->
    <div class="container">
        <div class="row">
            <!-- Breadcrumb-Content -->
            <div class="col-12">
                <div class="breadcrumb-content">
                    <!-- <ul class="breadcrumb__menu list-none">
                        <li><a href="{% url 'core:index' %}">Home</a></li>
                        <li class="active"><a href="{% url 'core:about' %}">About Us</a></li>
                    </ul> -->
                    <h2 class="breadcrumb__title m-10">About Us</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumbs -->

    <!-- About Area -->
    <section class="homec-about homec-bg-third-color pd-top-90 pd-btm-120">
        <div class="homec-shape">
            <div class="homec-shape-single homec-shape-1"><img src="{% static 'img/anim-shape-1.svg' %}" alt="#"></div>
            <div class="homec-shape-single homec-shape-2"><img src="{% static 'img/anim-shape-2.svg' %}" alt="#"></div>
            <div class="homec-shape-single homec-shape-3"><img src="{% static 'img/anim-shape-3.svg' %}" alt="#"></div>
            <div class="homec-shape-single homec-shape-4"><img src="{% static 'img/anim-shape-1.svg' %}" alt="#"></div>
            <div class="homec-shape-single homec-shape-5"><img src="{% static 'img/anim-shape-2.svg' %}" alt="#"></div>
            <div class="homec-shape-single homec-shape-6"><img src="{% static 'img/anim-shape-3.svg' %}" alt="#"></div>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 offset-lg-0 col-md-10 offset-md-1 col-12 mg-top-30" data-aos="fade-right"
                    data-aos-delay="400">
                    <!-- Homec Image Group -->
                    <div class="homec-image-group homec-image-group--v2">
                        <div class="homec-image-group__main">
                            <img src="https://images.unsplash.com/photo-1559165317-fa87fa24cd0e?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="#" height="495px" width="600px">
                            
                        </div>
                        
                    </div>
                    <!-- End Homec Image Group -->
                </div>
                <div class="col-lg-6 col-12 mg-top-30">
                    <div class="homec-about-content homec-about-content--v2">
                        <!-- Section Title -->
                        <div class="homec-section__head">
                            <div class="homec-section__shape">
                            </div>
                            <h2 class="homec-section__title" data-aos="fade-in" data-aos-delay="400">OMAMEGA ESTATE AND PROPERTIES LTD</h2>
                        </div>
                        <div class="homec-about-content__inner mg-top-20" data-aos="fade-in" data-aos-delay="500">
                            <p class="homec-about-content__text">Omamega Estate & Properties Ltd is a registered company
                                with the Corporate Affairs Commission to do business of Real
                                Estate, Building/Civil Engineering Construction, Facilities and Property Management. We
                                offer services with excellence
                                and integrity and commitment to excellence.</p>
                            <p class="homec-about-content__text mg-top-20">We are established to offer our customers’ services with quality and integrity along with technical excellence through
                            the employment of professionalism and instrumentality of capacity building, training for excellence and performance.</p>
                            <p class="homec-about-content__text mg-top-20">Our team of artisans comprises of carefully selected experienced plumbers, electricians, painters, roofers, plasterers,
                            joiners, and bricklayers who have demonstrated high level of commitment to jobs and have enabled us provide our CLIENTS
                            excellent, quality and Sure-trusted piece of works and services.</p>
                            <p class="homec-about-content__text mg-top-20">We have a faculty consisting of professionals who have garnered experience in the field as a result of longtime practice
                            and involvement in highly critical and challenging projects of diverse nature.</p>
                            <p class="homec-about-content__text"></p>
                            <p class="homec-about-content__text"></p>
                            
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Area -->
    <section class="homec-about homec-bg-third-color pd-top-90 pd-btm-120">
        <div class="homec-shape">
            <div class="homec-shape-single homec-shape-1"><img src="{% static 'img/anim-shape-1.svg' %}" alt="#"></div>
            <div class="homec-shape-single homec-shape-2"><img src="{% static 'img/anim-shape-2.svg' %}" alt="#"></div>
            <div class="homec-shape-single homec-shape-3"><img src="{% static 'img/anim-shape-3.svg' %}" alt="#"></div>
            <div class="homec-shape-single homec-shape-4"><img src="{% static 'img/anim-shape-1.svg' %}" alt="#"></div>
            <div class="homec-shape-single homec-shape-5"><img src="{% static 'img/anim-shape-2.svg' %}" alt="#"></div>
            <div class="homec-shape-single homec-shape-6"><img src="{% static 'img/anim-shape-3.svg' %}" alt="#"></div>
        </div>
        <div class="container">
            <div class="row align-items-center">
                
                <div class="col-lg-6 col-12 ">
                    <div class="homec-about-content homec-about-content--v2">
                        <!-- Section Title -->
                        <div class="homec-section__head">
                           
                            <h2 class="homec-section__title" data-aos="fade-in" data-aos-delay="400">Our Core Service Spectrum</h2>
                        </div>
                        <div class="homec-about-content__inner mg-top-20" data-aos="fade-in" data-aos-delay="500">
                            <ul class="homec-iconic-list list-none mg-top-30" data-aos="fade-up" data-aos-delay="400">
                                <li><i class="fa-solid fa-check"></i>Facilities Management</li>
                            </ul>
                            <p class="homec-about-content__text mg-top-20">Omamega Estate and Properties Ltd believes tenaciously that every property has value, it is usually the biggest asset an
                            individual, companies and organizations will own and therefore anything that has value requires maintenance.</p>
                            <ul class="homec-iconic-list list-none mg-top-30" data-aos="fade-up" data-aos-delay="400">
                                <li><i class="fa-solid fa-check"></i>Real estate development</li>
                            </ul>
                            <p class="homec-about-content__text mg-top-20">Assuredly, real estate is one business where return on investment is 100% guaranteed. We have developed capacity in this
                            field which has made us a strong player and participator as far as the business is concern.</p>
                            <ul class="homec-iconic-list list-none mg-top-30" data-aos="fade-up" data-aos-delay="400">
                                <li><i class="fa-solid fa-check"></i>Facilities/Property Management</li>
                            </ul>
                            <p class="homec-about-content__text mg-top-30">At Omamega Estate and Properties Ltd we carryout affordable property management services which include tenant placement
                            and feedback, rental, property cleaning, property maintenance and repairs, rent collection and remittance, detailed
                            property inspections etc.</p>
                                <ul class="homec-iconic-list list-none mg-top-30" data-aos="fade-up" data-aos-delay="400">
                                    <li><i class="fa-solid fa-check"></i>Property Maintenance Solutions</li>
                                </ul>
                            <p class="homec-about-content__text mg-top-20">We believe tenaciously that every property is usually the biggest asset an individual, companies and organisations will
                            own and should have value, therefore anything that has value requires to be continuously maintained.</p>
                            
                            <ul class="homec-iconic-list list-none mg-top-30" data-aos="fade-up" data-aos-delay="400">
                                <li><i class="fa-solid fa-check"></i>Training and Consultancy Services</li>
                            </ul>
                            <p class="homec-about-content__text mg-top-20">We train, coach and consult for individuals and organizations assisting to bridge the gap between their present state
                            and where they should be and even beyond.</p>
    
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-0 col-md-10 offset-md-1 col-12 mg-top-30" data-aos="fade-right" data-aos-delay="400">
                    <!-- Homec Image Group -->
                    <div class="homec-image-group homec-image-group--v2">
                        <div class="homec-image-group__main">
                            <img src="{% static 'img/founderBG.jpg'%}" alt="#" height="495px" width="600px">
                
                        </div>
                
                    </div>
                    <!-- End Homec Image Group -->
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->



<!-- FunFacts -->
<section class="homec-funfacts pd-btm-100">
    <img src="{% static 'img/bread-overlay.jpg' %}" alt="#">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="homec-funfact homec-border" style="background-image: url(img/bg-pattern1.png);">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-12">
                            <div class="homec-funfact__inner">
                                <div class="homec-funfact__content" data-aos="fade-up" data-aos-delay="300">
                                    <h2 class="homec-section__title mg-btm-10">Our Core Values</h2>
                                    <p>Omamega Estate & Properties Ltd is anchored in a set of guiding Core Values that shape our identity, form the bedrock of
                                    our actions, and serve as the cornerstone for building our reputation and achieving our mission.</p>
                                </div>
                                <!-- Homec List -->
                                <ul class="homec-iconic-list list-none mg-top-30" data-aos="fade-up"
                                    data-aos-delay="400">
                                    <li><i class="fa-solid fa-check"></i>Service</li>
                                    <li><i class="fa-solid fa-check"></i>Trust</li>
                                    <li><i class="fa-solid fa-check"></i>Excellence</li>
                                    <li><i class="fa-solid fa-check"></i>Professionalism</li>
                                    <li><i class="fa-solid fa-check"></i>Integrity</li>
                                    <li><i class="fa-solid fa-check"></i>leadership</li>
                                </ul>
                                <!-- Homec Button -->
                                <div class="homec-btn__main mg-top-40" data-aos="fade-up" data-aos-delay="500">
                                    <a href="{% url 'Listing:property_listing_list' %}" class="homec-btn"><span>Need any House</span></a>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-7 col-12">
                            <div class="homec-funfacts">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12" data-aos="fade-in" data-aos-delay="400">
                                        <!-- FunFacts Single -->
                                        <div class="homec-funfact__single homec-border">
                                            <div class="homec-funfact__icon">
                                                <img src="{% static 'img/funfact-icon1.svg'%}" alt="#">
                                            </div>
                                            <h3 class="homec-funfact__number"><span class="counter">300</span>+</h3>
                                            <p class="homec-funfact__text">Happy Customers</p>
                                        </div>
                                        <!-- End FunFacts Single -->
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12" data-aos="fade-in" data-aos-delay="500">
                                        <!-- FunFacts Single -->
                                        <div class="homec-funfact__single homec-border">
                                            <div class="homec-funfact__icon">
                                                <img src="{% static 'img/funfact-icon2.svg'%}" alt="#">
                                            </div>
                                            <h3 class="homec-funfact__number"><span class="counter">20</span>+</h3>
                                            <p class="homec-funfact__text">Co-agent</p>
                                        </div>
                                        <!-- End FunFacts Single -->
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12" data-aos="fade-in" data-aos-delay="600">
                                        <!-- FunFacts Single -->
                                        <div class="homec-funfact__single homec-border">
                                            <div class="homec-funfact__icon">
                                                <img src="{% static 'img/funfact-icon3.svg'%}" alt="#">
                                            </div>
                                            <h3 class="homec-funfact__number"><span class="counter">2</span></h3>
                                            <p class="homec-funfact__text">Branches around</p>
                                        </div>
                                        <!-- End FunFacts Single -->
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12" data-aos="fade-in" data-aos-delay="700">
                                        <!-- FunFacts Single -->
                                        <div class="homec-funfact__single homec-border">
                                            <div class="homec-funfact__icon">
                                                <img src="{% static 'img/funfact-icon4.svg'%}" alt="#">
                                            </div>
                                            <h3 class="homec-funfact__number"><span class="counter">50</span>k</h3>
                                            <p class="homec-funfact__text">Built Hose</p>
                                        </div>
                                        <!-- End FunFacts Single -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End FunFacts Area -->

<!-- Faq Area -->
<section class="homec-bg-cover pd-top-90 pd-btm-120" style="background-image: url('static/img/bg-shape-five.svg');">
    <div class="container homec-container-medium">
        <div class="row homec-container-medium__row align-items-center">
            <div class="col-lg-6 col-md-6 col-12 mg-top-30" data-aos="fade-up" data-aos-delay="400">
                <div class="homec-section__head">
                    <div class="homec-section__shape">
                        <span class="homec-section__badge homec-section__badge--shape homec-section__badge--shape--v2"
                            style="background-image:url('static/img/shape-3.svg')">FAQ</span>
                    </div>
                    <h2 class="homec-section__title">If you want to know Frequently Ask Questions</h2>
                </div>
                <div class="homec-accordion accordion accordion-flush" id="homec-accordion">
                    <!-- End Single Accordion -->
                    <div class="accordion-item homec-accordion__single mg-top-30">
                        <h2 class="accordion-header" id="homect-1">
                            <button class="accordion-button collapsed homec-accordion__heading" type="button"
                                data-bs-toggle="collapse" data-bs-target="#ac-collapse1">Why should I choose Omamega
                                Estate and Properties Ltd?</button>
                        </h2>
                        <div id="ac-collapse1" class="accordion-collapse collapse" data-bs-parent="#homec-accordion">
                            <div class="accordion-body homec-accordion__body"> Choose Omamega Estate and Properties Ltd
                                for reliable and diverse property services, a committed and skilled team, and a
                                strong focus on excellence and integrity..</div>
                        </div>
                    </div>
                    <!-- End Single Accordion -->

                    <!-- Single Accordion -->
                    <div class="accordion-item homec-accordion__single active mg-top-30">
                        <h2 class="accordion-header" id="homect-3">
                            <button class="accordion-button   homec-accordion__heading" type="button"
                                data-bs-toggle="collapse" data-bs-target="#ac-collapse2">Is your company licensed and
                                certified to operate in the real estate and construction industry?</button>
                        </h2>
                        <div id="ac-collapse2" class="accordion-collapse collapse show"
                            data-bs-parent="#homec-accordion">
                            <div class="accordion-body homec-accordion__body">Yes, Omamega Estate and Properties Ltd
                                holds the necessary licenses and certifications from the relevant
                                authorities, ensuring that our operations in the real estate and construction industry
                                meet the required standards and
                                regulations.</div>
                        </div>
                    </div>
                    <!-- End Single Accordion -->

                    <!-- Single Accordion -->
                    <div class="accordion-item homec-accordion__single mg-top-30">
                        <h2 class="accordion-header" id="homect-2">
                            <button class="accordion-button collapsed  homec-accordion__heading" type="button"
                                data-bs-toggle="collapse" data-bs-target="#ac-collapse3" aria-expanded="false">What
                                services are included in your property management packages?</button>
                        </h2>
                        <div id="ac-collapse3" class="accordion-collapse collapse" data-bs-parent="#homec-accordion">
                            <div class="accordion-body homec-accordion__body">In our property management packages, we
                                provide comprehensive services that encompass tenant selection, efficient rent
                                collection, and proactive property maintenance. Our tenant selection process is thorough
                                and aimed at securing reliable
                                occupants, while our rent collection procedures are designed for convenience and
                                timeliness. Additionally, our property
                                maintenance services ensure that your investment is well-maintained, addressing issues
                                promptly to preserve and enhance
                                the value of your property.</div>
                        </div>
                    </div>
                    <!-- End Single Accordion -->
                    <!-- Single Accordion -->
                    <div class="accordion-item homec-accordion__single mg-top-30">
                        <h2 class="accordion-header" id="homect-4">
                            <button class="accordion-button collapsed homec-accordion__heading" type="button"
                                data-bs-toggle="collapse" data-bs-target="#ac-collapse4">What kind of properties do you
                                manage?</button>
                        </h2>
                        <div id="ac-collapse4" class="accordion-collapse collapse" data-bs-parent="#homec-accordion">
                            <div class="accordion-body homec-accordion__body">We specialize in managing both commercial
                                and residential buildings. Whether you own an office space, retail property,
                                or residential units, our property management services are tailored to meet the unique
                                needs of various real estate
                                types. Our expertise spans across different property categories, ensuring that your
                                investment receives the attention
                                and care it deserves, regardless of whether it's a commercial or residential space.
                            </div>
                        </div>
                    </div>
                    <!-- End Single Accordion -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 mg-top-30" data-aos="fade-up" data-aos-delay="600">
                <!-- Support Img -->
                <div class="homec-support-img">
                    <img src="https://images.unsplash.com/photo-1573162915955-6a8ba9d2fe20?q=80&w=2969&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        height="4rem" width="6rem" alt="#">
                    <div class="homec-support-img__content">
                        <img src="{% static 'img/support-icon-white.svg' %}" alt="#">
                        <h4 class="homec-support-img__title">24/7 Support <span>Have any Questions Contact
                                Us?</span>
                        </h4>
                    </div>
                </div>
                <!-- End Support Img -->
            </div>
        </div>
    </div>
</section>
<!-- End Faq Area -->

<!-- End Agents -->
{% endblock %}