{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<!-- Breadcrumbs -->
<section class="breadcrumbs__content" style="background-image: url('{% static 'img/bread-overlay.jpg' %}');">
    <!-- <div class="homec-overlay"></div> -->
    <div class="container">
        <div class="row">
            <!-- Breadcrumb-Content -->
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="breadcrumb__title m-0">Latest Properties</h2>
                    <ul class="breadcrumb__menu list-none">
                        <li><a href="{% url 'core:index' %}">Home</a></li>
                        <li class="active"><a href="#">Latest Properties</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumbs -->

<!-- Property -->
<section class="homec-propertys pd-top-80 pd-btm-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
             
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-8 col-12">
                <div class="tab-content" id="nav-tabContent">
                    <!-- Grid Tab -->
                    <div class="tab-pane fade show active" id="homec-grid" role="tabpanel">
                        <div class="row">
                            {% for listing in listings %}
                            <div class="col-md-6 col-12 mg-top-30">
                                <!-- Single property-->
                                <div class="homec-property">
                                    <!-- Property Head-->
                                    <div class="homec-property__head d-flex justify-content-center align-items-center">
                                        <img src="{{ listing.property.images.first.image.url }}" alt="{{ listing.property.name }}" style="height: 350px; width: auto; display: inline-block;" >
                                   
                                    </div>
                                    <!-- Property Body-->
                                    <div class="homec-property__body">
                                        <div class="homec-property__topbar">
                                            {% if listing.rental_price %}
                                            <div class="homec-property__price">₦{{ listing.rental_price|intcomma }}<span>/year</span></div>
                                            <span class="homec-property__salebadge">For Rent</span>
                                            {% endif %}
                                            {% if listing.selling_price %}
                                            <div class="homec-property__price">₦{{ listing.selling_price|intcomma }}</div>
                                            <span class="homec-property__salebadge" style="background-color:chartreuse;"> For Sale</span>
                                            {% endif %}
                                    
                                        </div>
                                        <h3 class="homec-property__title"><a href="{% url 'Listing:property_listing_detail' pk=listing.pk %}">{{ listing.property.name }}</a>
                                        </h3>
                                        <div class="homec-property__text">
                                            <img src="{% static 'img/location-icon2.svg' %}" alt="#">
                                            <p>{{ listing.property.address }}</p>
                                        </div>
                                        <!-- Property List-->
                                        <ul class="homec-property__list homec-border-top list-none">
                                            <li><img src="{% static 'img/room-icon2.svg' %}" alt="#">{{ listing.property.num_bedrooms }} Room</li>
                                            <li><img src="{% static 'img/bath-icon2.svg' %}" alt="#">{{ listing.property.num_bathrooms }} Bathroom</li>
                                            <li><img src="{% static 'img/size-icon2.svg' %}" alt="#">{{ listing.property.square_feet }} m2</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Single property-->
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row mg-top-40">
                            <div class="homec-pagination">
                                <ul class="homec-pagination__list list-none">
                                    {% if listings.has_previous %}
                                    <li class="homec-pagination__button"><a href="?page={{ listings.previous_page_number }}">Prev</a></li>
                                    {% endif %}
                        
                                    {% for num in listings.paginator.page_range %}
                                    {% if listings.number == num %}
                                    <li class="active"><a href="#">{{ num }}</a></li>
                                    {% else %}
                                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                        
                                    {% if listings.has_next %}
                                    <li class="homec-pagination__button"><a href="?page={{ listings.next_page_number }}">Next</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Grid Tab -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Property -->
{% endblock %}